<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SupaBase</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <form action="/SignUp" method="POST" autocomplete="off">
        <h2>Sign Up</h2>
        <input type="text" name="first_name" id="first_name" placeholder="Name">
        <input type="text" name="last_name" id="last_name" placeholder="Lastnamne">
        <input type="text" name="email" placeholder="Email" >
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Sign Up">
    </form>
    
</body>
</html>