<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SupaBase</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>

    <div class="container">
        
        <h2>You Profile</h2>

        <a href="/SignOut">
            Sign Out
        </a>
        
        <div class="data">
            <h3 id="username"> <%= user %> </h3>
            <h4 id="email"> <%= email %> </h4>
        </div>
    </div>

    <div class="container">
        <h4>Published Jobs</h4>
        <a href="#">
            <i class="fa-solid fa-plus"></i>
        </a>

        <div class="jobs">
            <div class="job__container">
                <h4>WEB DESIGN SPECIALIST (MEXICO) - WORK FROM HOME</h4>
                <span>
                    Remoto
                    Campeche, Camp.
                    Tiempo completo
                </span>
                <p>We are searching for a Web Design Specialist / Shopify Expert to join our team on a full-time basis. </p>
            </div>
        </div>
        
    </div>
    
</body>
</html>